[submodule "blindsend-fe"]
	path = blindsend-fe
	url = https://github.com/blindnet-io/blindsend-fe
	branch = develop
[submodule "blindsend-be"]
	path = blindsend-be
	url = https://github.com/blindnet-io/blindsend-be
	branch = develop
