[submodule "blindsend-fe"]
	path = blindsend-fe
	url = https://github.com/blindnet-io/blindsend-fe
	branch = new-design
[submodule "blindsend-server"]
	path = blindsend-server
	url = https://github.com/blindnet-io/blindsend-server
